__pycache__/
*.mp4
*.csv
*.ass
*.log
*.DS_Store
*.pyc
*.zip
*.mp3
*.wav
*demucs*
*.txt*.mp3
*.env
demucs_env/
intermediate/
logs/
*.mkv
merged_output/
ouput/
separated/
songs/
*.png
*.yml
*.svg
assets/
lyrics/
*.html
*.pkg
*ffconcat*
*.txt