__pycache__/
*.mp4
*.csv
*.ass
*.log
*.DS_Store
*.pyc
*.zip
*.mp3
*.wav
*demucs*
*.txt*.mp3
*.env
demucs_env/
intermediate/
logs/
*.mkv
merged_output/
ouput/
separated/
songs/
*.png
*.yml
*.svg
assets/
lyrics/
*.html
*.pkg
*ffconcat*
*.txt
*/bin/*
*/lib/*
*.json
*.srt
*.tsv
*.vtt
align_env/
mix_done/
covers/
gentle-0.11.0/gentle.egg-info/PKG-INFO
gentle-full/
gentle_broken_1/
mfa_env/pyvenv.cfg
mfa_env/share/man/man1/ttx.1
*.jpg
*.uploaded
!requirements.txt
!devcontainer.json
*.webm
gentle*/
mfa_env/
!wavs/**
!corpus/
*.lrc
